---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@700&display=swap');

h1, h2, h3, h4, h5 {
  font-family: 'Lusitana', Georgia, serif;
  font-style: normal;
  font-weight: 700;
}
