---
layout: blog
title: The Brownie Project
---
	<h1>{{ page.title }}</h1>
	<h3>About This Project</h3>
	<p>I've been on and off of Weight Watchers for many years. It has not cured me for my love of dessert. So this is an exercise to try and find the tastiest brownies, for the lowest number of points possible. </p>
<p>Note: I did not say <i>healthiest</i>. I'm not opposed to using any tricks I can to optimize for low number of points, which I have!</p>
	<ul class="posts">

	  {% for post in site.posts %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>

	  <h3>Bean Brownies</h3>
	  <ul>
	    {% for post in site.posts %}
		{% if post.categories contains 'bean-brownies' %}
	      	<li><a href="{{ post.url }}">{{ post.title }}</a></li>
		  {% endif %}
	  {% endfor %}
	  </ul>
